<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBi6fkV-bkuqYDJw47rSmvhDX35Rpdqdvg</string>
	<key>GCM_SENDER_ID</key>
	<string>393179842507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matejkupresak.LoanPredict</string>
	<key>PROJECT_ID</key>
	<string>loan-predict-45dcd</string>
	<key>STORAGE_BUCKET</key>
	<string>loan-predict-45dcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393179842507:ios:b69f9d4e0b503c02bc584e</string>
</dict>
</plist>